@charset "UTF-8";
:root {
  --black-color: #3a3a3a;
  --black-color2: #3b3b3b;
  --black-color3: #333333;
  --black-color4: #464646;
  --black-color5: #191919;
  --white-color: #fff;
  --gray-color: #e1e1e1;
  --gray-color2: #f0f0f0;
  --gray-color3: #707070;
  --gray-color4: #c6c6c6;
  --gray-color5: #9a9a9a;
  --footer-color: #7b7b7b;
  --footer-btn-color: #907c7c;
  --footer-btn-color2: #c2bdb7;
}


:root {
  --z-index-back: 0;
  --z-index-default: 1;
  --z-index-modal: 10;
  --z-index-modal-mark: 50;
}
body {
  font-family: "Noto Serif JP", serif;
  letter-spacing: 0.2em;
  color: var(--black-color2);
}
/* ---------- layout ---------- */
.l_header {
  height: 70px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-index-default);
  background-color: var(--white-color);
  opacity: 0.63;
}

@media screen and (min-width: 768px) {
  .l_header {
    padding: 0 48px;
  }
}

.l_header-logo {
  font-size: 20px;
  font-weight: bold;
  color: var(--black-color);
}

.l_header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white-color);
  z-index: var(--z-index-header);
}

@media screen and (min-width: 768px) {
  .l_header-nav {
    position: static;
    background: transparent;
    width: auto;
    height: auto;
    display: block;
    opacity: 1;
    pointer-events: inherit;
  }
}

.l_header-nav_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .l_header-nav_list {
    display: flex;
    gap: 0 40px;
    position: static;
    transform: none;
  }
}

.l_header-nav_item {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.l_header-nav_item_contact{
  background-color:#fff;
  opacity: 1.0;
}

@media screen and (min-width: 768px) {
  .l_header-nav_item {
    color: var(--black-color);
    font-weight: normal;
  }
}

.l_header-nav_item:not(:first-child) {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .l_header-nav_item:not(:first-child) {
    margin-top: 0;
  }
}
/* ---------- utility ---------- */
@media screen and (min-width: 768px) {
  .u_dp-n {
    display: none;
  }
}

.u_dp-n__sp {
  display: none;
}

@media screen and (min-width: 1080px) {
  .u_dp-n__sp {
    display: block;
  }
}

/* ---------- module ---------- */

/* front-page */
.top_kv-img-wrap {
  height: 100vh;
  background: url("../img/top/top_kv.jpg") top center / cover;
  position: relative;
}
@media screen and (min-width: 1080px) {
  .top_kv-img-wrap {
    background: url("../img/top/top_kv.jpg") bottom center / cover;
  }
}
.top_kv-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color);
  font-size: 44px;
  line-height: 1.8;
  width: 43.5%;
}
@media screen and (min-width: 1080px) {
  .top_kv-text {
    width: 23%;
    height: 443px;
  }
}
.top_kv_scroll {
  font-size: 15px;
  line-height: 1.2;
  color: var(--white-color);
  position: absolute;
  left: 50%;
  bottom: 34px;
  transform: translateX(-50%);
  font-family: "GFS Didot", serif;
  display: inline-block;
}
@media screen and (min-width: 1080px) {
  .top_kv_scroll {
    font-size: 22px;
  }
}
.top_kv_scroll::before {
  content: "";
  width: 15px;
  height: 4px;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent var(--white-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-top: -6px;
  transform: translateX(-50%) rotate(90deg);
}
@media screen and (min-width: 1080px) {
  .top_kv_scroll::before {
    width: 21px;
    height: 6px;
  }
}

/* トップページーこだわり */
.top_obsession {
  padding: 44px 0 61px;
}
@media screen and (min-width: 1080px) {
  .top_obsession {
    padding: 64px 0;
  }
}

.top_obsession__pc {
  display: none;
}
@media screen and (min-width: 1080px) {
  .top_obsession__pc {
    display: block;
  }
  .top_obsession__sp {
    display: none;
  }
}
.top_obsession-tit {
  font-size: 20px;
  line-height: 1.95;
  text-align: center;
}
.top_obsession-thehouse_wrap {
  margin-left: 22px;
  margin-top: 30px;
  display: flex;
  gap: 21px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .top_obsession-thehouse_wrap {
    width: 50%;
    margin: 30px auto 0;
    gap: 36px;
  }
}
.top_obsession-thehouse-text-img__wrap {
  width: 53px;
  height: 236px;
}
.top_obsession-thehouse-text-img {
  width: 100%;
  height: 100%;
}
.top_obsession-thehouse-img__wrap {
  width: 297px;
  height: 386px;
}
.top_obsession-thehouse-img {
  width: 100%;
  height: 100%;
}
.top_obsession-content {
  margin-top: 49px;
  margin-left: 40px;
  font-size: 12px;
  line-height: 2.167;
}
@media screen and (min-width: 768px) {
  .top_obsession-content {
    width: 38%;
    margin: 49px auto 0;
  }
}
.top_obsession-btn {
  display: block;
  width: 314px;
  height: 42px;
  margin: 48px auto 0;
  background: var(--black-color2);
}
.top_obsession-btn__link {
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.22;
}
/* トップページーこだわりPC */

.top_obsession-content-wrap__pc {
  display: flex;
  justify-content: space-between;
}
.top_obsession-thehouse-text-img__wrap__pc {
  width: 9%;
  margin-left: 64px;
}
.top_obsession-thehouse-text-wrap__pc {
  margin-top: 36px;
}
.top_obsession-thehouse_title__pc {
  display: flex;
  flex-flow: column;
  font-family: "GFS Didot", serif;
  font-size: 40px;
  line-height: 1.275;
}
.top_obsession-thehouse_subtitle__pc {
  font-size: 20px;
  line-height: 1.95;
}
.top_obsession-thehouse-text-content__pc {
  margin-top: 48px;
  line-height: 1.7;
}
.top_obsession-thehouse-text-img__pc {
  width: 100%;
  height: 100%;
}
.top_obsession-thehouse-img__wrap__pc {
  width: 52.2%;
}
.top_obsession-btn__pc {
  margin-top: 48px;
}
.top_obsession-btn__link__pc {
  font-size: 24px;
  color: #000;
  display: flex;
  position: relative;
}
.top_obsession-btn__link__pc:before {
  content: "";
  width: 89px;
  border-top: 1px solid var(--black-color2);
  top: 40px;
  left: 110px;
  position: absolute;
}
.top_obsession-btn__link__pc::after {
  content: "";
  width: 10px;
  height: 8px;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent var(--black-color2);
  position: absolute;
  top: 35px;
  left: 192px;
  transform: translateX(-50%) rotate(135deg);
}

/* トップページ-works */
.top_works {
  background: var(--gray-color2);
  padding-top: 61px;
}
@media screen and (min-width: 768px) {
  .top_works {
    padding-bottom: 97px;
  }
}
.m_top-tit {
  text-align: center;
  font-size: 24px;
  font-family: "GFS Didot", serif;
  line-height: 1.291;
  display: flex;
  flex-flow: column;
}
.m_top-subtit {
  font-family: "Noto Serif JP", serif;
  font-size: 12px;
  line-height: 2.416;
}

.top_works-img__wrapper {
  display: flex;
  flex-flow: column;
  margin-top: 61px;
}
@media screen and (min-width: 768px) {
  .top_works-img__wrapper {
    gap: 16px;
    margin: 59px 70px 0;
    flex-flow: wrap;
  }
}
.top_works-img__wrap {
  height: 416px;
  position: relative;
  z-index: var(--z-index-back);
}
@media screen and (min-width: 768px) {
  .top_works-img__wrap {
    width: calc((100% - 32px) / 3);
    height: 350px;
  }
  .top_works-img__wrap:last-child {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .top_works-img__wrap {
    height: 409px;
  }
}
.top_works-img {
  height: 100%;
  width: 100%;
  object-position: 40% bottom;
  object-fit: cover;
}

.top_works-img-more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  right: 0;
  position: absolute;
  background: var(--black-color2);
  z-index: var(--z-index-modal);
  bottom: 0;
  width: 137px;
  height: 34px;
}
@media screen and (min-width: 768px) {
  .top_works-img-more {
    display: none;
  }
}
.top_view-btn__pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .top_view-btn__pc {
    display: block;
    width: auto;
    margin: 87px auto 0;
  }
}
/* トップページーフロー */

.top_flow__sp-container__sp {
  padding: 40px 0 49px;
}

.top_flow-container__pc__flow {
  display: none;
}
@media screen and (min-width: 1080px) {
  .top_flow__sp-container__sp {
    display: none;
  }
  .top_flow-container__pc__flow {
    display: block;
  }
}
.top_flow-btn {
  width: 294px;
  margin: 29px auto 0;
}
.top_flow__sp-text {
  line-height: 2;
  font-size: 14px;
  width: 176px;
  margin: 0 auto;
  text-align: center;
}
.top_flow__sp-flow__wrap {
  width: 294px;
  margin: 44px auto 0;
  padding: 38px 40px;
  border: 1.5px solid var(--black-color2);
  position: relative;
}
.top_flow__sp-flow-tit {
  font-family: "GFS Didot", serif;
  font-size: 22px;
  line-height: 1.32;
}
.top_flow__sp-flow-text {
  font-family: "Noto Serif JP", serif;
  font-size: 13px;
  line-height: 1.92;
  margin-top: 9px;
}
.top_flow__sp-flow__wrap::after {
  content: "";
  width: 30px;
  height: 27px;
  border-style: solid;
  border-width: 30px 0 30px 30px;
  border-color: transparent transparent transparent var(--black-color2);
  position: absolute;
  bottom: -25px;
  right: -25px;
  margin-top: -6px;
  transform: translateX(-50%) rotate(45deg);
}
/* トップページ-フロー__pc */
.top_flow__sp-container__pc {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/top/top_sauna.jpg) top center / cover;
}

@media screen and (min-width: 768px) {
  .top_flow__sp-container__pc {
    background: url(../img/top/top_flow.jpg) top / cover;
  }
}
.top_cta {
  padding: 225px 0 74px;
}
.top_cta-text {
  font-size: 26px;
  line-height: 1.92;
  text-align: left;
  color: var(--white-color);
  width: 244px;
  margin: 0 auto;
}
.top_flow-sauna_btn {
  background: transparent;
  margin-top: 156px;
}
.top_flow-sauna_btn__link {
  font-family: "GFS Didot", serif;
  padding: 10px 78px;
  color: var(--white-color);
  border: 3px solid var(--white-color);
}
@media screen and (min-width: 768px) {
  .top_cta {
    padding: 257px 0 118px;
  }
  .top_cta-text {
    font-size: 40px;
    line-height: 1.75;
    text-align: center;
    width: unset;
  }
  .top_flow-sauna_btn {
    margin: 126px auto 0;
  }
  .top_flow-sauna_btn__link {
    font-size: 34px;
    padding: 14px 60px;
  }
}

.top_flow-container__pc__flow {
  padding: 126px 0 99px;
}
.top_flow-container__pc__flow-txt-box {
  width: 99%;
  margin: 104px auto 0;
  writing-mode: vertical-rl;
  display: flex;
  flex-flow: column;
  gap: 24px;
}
.top_flow-container__pc__flow-txt-wrap {
  display: flex;
}
@media screen and (min-width: 1080px) {
  .top_flow-container__pc__flow-txt-box {
    margin-top: 154px;
  }
}
.top_flow-container__pc__flow-txt_num {
  display: flex;
  font-size: 16px;
  align-items: center;
  writing-mode: horizontal-tb;
  position: relative;
}
.top_flow-container__pc__flow-txt_num::after {
  content: "";
  width: 2px;
  height: 33px;
  background: var(--black-color2);
  transform: translateX(-50%) rotate(90deg);
  position: absolute;
  bottom: -10px;
  left: 39.5%;
}
.top_flow-container__pc__flow-txt {
  font-size: 16px;
}
.top_flow-container__pc-img__wrap {
  margin: 154px auto 0;
  width: 1198px;
  height: 384px;
}

/* トップページーイベント */
.top_event {
  background: var(--black-color2);
}
.top_event__container {
  padding: 54px 0;
}
@media screen and (min-width: 768px) {
  .top_event__container {
    padding: 56px 0 38px;
  }
}
.top_event-tit {
  color: var(--white-color);
}
.top_event-item__wrapper {
  width: 79.6%;
  margin: 54px auto 0;
  color: var(--white-color);
}
@media screen and (min-width: 1080px) {
  .top_event-item__wrapper {
    display: flex;
    gap: 110px;
  }
  .top_event-item {
    width: calc((100% - 220px) / 3);
  }
}
.top_event-item__cat {
  font-size: 14px;
  padding: 6px 28px;
  display: inline;
  border: 1px solid var(--white-color);
}
.top_event-item__news {
  margin-top: 12px;
  font-size: 19px;
  line-height: 1.947;
}
.top_event-item__prefa {
  line-height: 1.615;
  font-size: 13px;
}
.top_event-item__date {
  line-height: 1.923;
  font-size: 13px;
  margin-top: 12px;
}
.top_event-item__img-wrap {
  margin-top: 12px;
}
.top_event-item:not(:first-child) {
  margin-top: 54px;
}
@media screen and (min-width: 1080px) {
  .top_event-item:not(:first-child) {
    margin-top: 0;
  }
}
.top_event-btn {
  width: 100%;
  margin: 59px auto 0;
}
@media screen and (min-width: 1080px) {
  .top_event-btn {
    display: none;
  }
}
.top_event-btn__link {
  color: var(--black-color2);
  background: var(--white-color);
  padding: 10px 105px;
}
.top_event-btn__pc {
  display: none;
}
@media screen and (min-width: 1080px) {
  .top_event-btn__pc {
    display: block;
    margin: 45px auto 0;
  }
  .top_event-btn__link__pc {
    font-size: 24px;
    color: var(--white-color);
    display: flex;
    position: relative;
    justify-content: center;
  }
  .top_event-btn__link__pc::before {
    border-color: var(--white-color);
  }
  .top_event-btn__link__pc::after {
    border-color: transparent transparent transparent var(--white-color);
  }
}

/* ---------- sauna-page ---------- */
.m_sauna_kv-wrap {
  position: relative;
}

.sauna_kv-txt-wrapper {
  position: absolute;
  top: 55%;
  left: 5%;
}

@media screen and (min-width: 1080px) {
  .sauna_kv-txt-wrapper {
    top: 50%;
    margin-left: 13%;
  }
}

.sauna_kv-img__sp {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 56%;
}

@media screen and (min-width: 1080px) {
  .sauna_kv-img__sp {
    display: none;
  }
}

.sauna_kv-img__pc {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 56%;
  display: none;
}

@media screen and (min-width: 1080px) {
  .sauna_kv-img__pc {
    display: block;
  }
}

.sauna_kv-heading {
  font-size: 24px;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .sauna_kv-heading {
    font-size: 32px;
  }
}

.sauna_kv-txt_upper,
.sauna_kv-txt_lowwer {
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.2em;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .sauna_kv-txt_upper,
  .sauna_kv-txt_lowwer {
    font-size: 16px;
  }
}

.sauna_kv-txt_upper {
  margin-top: 52px;
  margin-bottom: 26px;
}

/* sauna-plan */
.sauna-plan_container {
  background-color: var(--gray-color2);
}

.sauna-plan_ttl {
  font-size: 24px;
  line-height: 1.46;
  text-align: center;
  padding-top: 37px;
  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .sauna-plan_ttl {
    font-size: 33px;
    padding-top: 102px;
  }
}

.sauna-plan_txt {
  text-align: center;
  margin-top: 38px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .sauna-plan_txt {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .sauna-plan_contents_container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1080px) {
  .sauna-plan_contents_container {
    gap: 94px;
  }
}

.sauna-plan_contents {
  width: 61%;
  margin: 38px auto 0;
}

@media screen and (min-width: 768px) {
  .sauna-plan_contents {
    width: 368px;
    padding-top: 30px;
    margin: 38px 0 0 0;
  }
}

.sauna-plan_content {
  border-left: 2px solid var(--black-color2);
}

.sauna-plan_content:not(:first-child) {
  margin-top: 33px;
}

.sauna-plan_content_ttl {
  font-size: 20px;
  margin-left: 19px;
}

@media screen and (min-width: 768px) {
  .sauna-plan_content_ttl {
    font-size: 34px;
  }
}

.sauna-plan_content_txt {
  line-height: 1.67;
  font-size: 12px;
  margin-top: 9px;
  margin-left: 19px;
}

@media screen and (min-width: 768px) {
  .sauna-plan_content_txt {
    font-size: 20px;
  }
}

.sauna-plan_box {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 55px;
}

@media screen and (min-width: 768px) {
  .sauna-plan_box {
    padding-top: 52px;
    padding-bottom: 102px;
  }
}

.sauna-plan_img__sp {
  width: 345px;
  height: 468px;
  object-position: 0% 50%;
}

@media screen and (min-width: 1080px) {
  .sauna-plan_img__sp {
    display: none;
  }
}

.sauna-plan_img__pc {
  width: 736px;
  object-fit: cover;
  object-position: 56%;
  display: none;
}

@media screen and (min-width: 1080px) {
  .sauna-plan_img__pc {
    display: block;
  }
}

/* sauna-custom */
.sauna-custom_container {
  position: relative;
}

.sauna-custom_img-box {
  position: relative;
}

@media screen and (min-width: 1080px) {
  .sauna-custom_img-box {
    display: flex;
    flex-wrap: wrap;
  }

  .sauna-custom_img {
    width: 50%;
  }
}

.sauna-custom_img-box::before {
  content: "";
  background-image: linear-gradient(#000, #000);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

.sauna-custom_heading {
  font-size: 24px;
  line-height: 1.4;
  color: var(--white-color);
  position: absolute;
  top: 37%;
  left: 6%;
}

@media screen and (min-width: 768px) {
  .sauna-custom_heading {
    font-size: 40px;
  }
}

@media screen and (min-width: 1080px) {
  .sauna-custom_heading {
    font-size: 59px;
    line-height: 1.45;
    text-align: center;
    left: 50%;
    top: 39%;
    transform: translateX(-50%);
  }
}

.sauna-custom_txt_upper,
.sauna-custom_txt_lower {
  line-height: 1.67;
  font-size: 12px;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .sauna-custom_txt_upper,
  .sauna-custom_txt_lower {
    font-size: 26px;
  }
}

.sauna-custom_txt_upper {
  position: absolute;
  top: 67%;
  left: 6%;
}

@media screen and (min-width: 1080px) {
  .sauna-custom_txt_upper {
    font-size: 20px;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.sauna-custom_txt_lower {
  position: absolute;
  top: 80%;
  left: 6%;
}

@media screen and (min-width: 1080px) {
  .sauna-custom_txt_lower {
    font-size: 20px;
    text-align: center;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* saua-price */
@media screen and (min-width: 768px) {
  .sauna-price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 17px;
  }
}

.sauna-price_img-box {
  text-align: center;
}
.sauna-price_img_out {
  width: 75%;
  height: 75%;
}

@media screen and (min-width: 768px) {
  .sauna-price_img_out {
    width: 100%;
    height: 100%;
  }
}

.sauna-price_container {
  width: 78%;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .sauna-price_container {
    width: 27%;
    margin: 138px 0 0;
  }
}

.sauna-price_ttl {
  font-size: 24px;
  line-height: 1.4;
}

@media screen and (min-width: 1080px) {
  .sauna-price_ttl {
    font-size: 40px;
  }
}

.sauna-price_contents {
  margin-top: 42px;
}

.sauna-price_content {
  border-left: 2px solid var(--black-color2);
}

.sauna-price_content:not(:first-child) {
  margin-top: 31px;
}

.sauna-price_content_ttl {
  font-size: 15px;
  line-height: 1.7;
  margin-left: 13px;
}

@media screen and (min-width: 1080px) {
  .sauna-price_content_ttl {
    font-size: 25px;
  }
}

.sauna-price_content_txt {
  font-size: 14px;
  line-height: 1.7;
  margin-left: 13px;
}

@media screen and (min-width: 1080px) {
  .sauna-price_content_txt {
    font-size: 25px;
  }
}

.sauna-price_content_txt-plus {
  font-size: 12px;
  margin-left: 13px;
  margin-top: 13px;
}

@media screen and (min-width: 1080px) {
  .sauna-price_content_txt-plus {
    font-size: 19px;
  }
}

.sauna-price_content_note {
  font-size: 10px;
  margin-top: 31px;
}

@media screen and (min-width: 1080px) {
  .sauna-price_content_note {
    font-size: 16px;
  }
}

.sauna-price_img_in {
  width: 90%;
  height: 90%;
  margin-top: 39px;
}

/* sauna-contact_flow */
.sauna-contact_flow_ttl {
  font-size: 24px;
  text-align: center;
  margin-top: 35px;
}

@media screen and (min-width: 1080px) {
  .sauna-contact_flow_ttl {
    font-size: 40px;
  }
}

.sauna-contact_flow_list {
  margin-top: 33px;
}

.sauna-contact_flow_item {
  font-size: 14px;
  line-height: 1.4;
  width: 78%;
  background-color: var(--gray-color2);
  margin: 0 auto;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 9px;
  position: relative;
}

@media screen and (min-width: 1080px) {
  .sauna-contact_flow_item {
    font-size: 23px;
    width: 35%;
  }
}

.sauna-contact_flow_item:not(:first-child) {
  margin-top: 23px;
}

.sauna-contact_flow_item:first-of-type:before {
  content: "01";
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 0.83;
  color: #acacac;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-family: "GFS Didot", serif;
  font-style: italic;
}
.sauna-contact_flow_item:nth-of-type(2):before {
  content: "02";
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 0.83;
  color: #acacac;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-family: "GFS Didot", serif;
  font-style: italic;
}

.sauna-contact_flow_item:nth-of-type(2)::after {
  content: "";
  border: 1px solid #3b3b3b;
  width: 2px;
  height: 23px;
  position: absolute;
  top: -61%;
  left: 50%;
}

@media screen and (min-width: 1080px) {
  .sauna-contact_flow_item:nth-of-type(2)::after {
    top: -48%;
  }
}

.sauna-contact_flow_item:nth-of-type(3):before {
  content: "03";
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 0.83;
  color: #acacac;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-family: "GFS Didot", serif;
  font-style: italic;
}

.sauna-contact_flow_item:nth-of-type(3)::after {
  content: "";
  border: 1px solid #3b3b3b;
  width: 2px;
  height: 23px;
  position: absolute;
  top: -61%;
  left: 50%;
}

@media screen and (min-width: 1080px) {
  .sauna-contact_flow_item:nth-of-type(3)::after {
    top: -48%;
  }
}

.sauna-contact_flow_item:nth-of-type(4):before {
  content: "04";
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 0.83;
  color: #acacac;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-family: "GFS Didot", serif;
  font-style: italic;
}

.sauna-contact_flow_item:nth-of-type(4)::after {
  content: "";
  border: 1px solid #3b3b3b;
  width: 2px;
  height: 23px;
  position: absolute;
  top: -62%;
  left: 50%;
}

@media screen and (min-width: 1080px) {
  .sauna-contact_flow_item:nth-of-type(4)::after {
    top: -48%;
  }
}

.sauna-contact_flow_item:nth-of-type(5):before {
  content: "05";
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 0.83;
  color: #acacac;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-family: "GFS Didot", serif;
  font-style: italic;
}

.sauna-contact_flow_item:nth-of-type(5)::after {
  content: "";
  border: 1px solid #3b3b3b;
  width: 2px;
  height: 22px;
  position: absolute;
  top: -60%;
  left: 50%;
}

@media screen and (min-width: 1080px) {
  .sauna-contact_flow_item:nth-of-type(5)::after {
    top: -48%;
  }
}

.sauna-price_img_in__pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .sauna-price_img_in__pc {
    display: block;
    width: 62%;
    margin: 0 auto;
    margin-top: 107px;
  }
}

.sauna-contact_txt_wrapper {
  text-align: center;
  margin-top: 38px;
}

.sauna-contact_upper {
  line-height: 1.67;
}

@media screen and (min-width: 768px) {
  .sauna-contact_upper {
    font-size: 25px;
  }
}

.sauna-contact_middle {
  margin-top: 30px;
  line-height: 1.67;
  display: none;
}

@media screen and (min-width: 768px) {
  .sauna-contact_middle {
    font-size: 25px;
    display: block;
  }
  .sauna-contact_middle__sp {
    display: none;
  }
}

.sauna-contact_lower {
  margin-top: 30px;
  line-height: 1.67;
}

@media screen and (min-width: 768px) {
  .sauna-contact_lower {
    font-size: 25px;
  }
}

.sauna-contact_btn {
  width: 78%;
  background-color: var(--black-color2);
  text-align: center;
  margin: 0 auto;
  margin-top: 37px;
  margin-bottom: 50px;
}

@media screen and (min-width: 1080px) {
  .sauna-contact_btn {
    width: 37%;
  }
}

.sauna-contact_btn-txt {
  font-size: 14px;
  color: #fff;
  padding-top: 7px;
  padding-bottom: 9px;
  position: relative;
}

.sauna-contact_btn-txt::after {
  content: "";
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #fff;
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.sauna-arrow {
  width: 14px;
  height: 15px;
  border-top: 5px solid #acacac;
  border-right: 5px solid #acacac;
  transform: rotate(-45deg);
  margin: 0 auto;
}

.sauna-arrow_top {
  font-size: 24px;
  font-family: "GFS Didot", serif;
  color: #acacac;
  text-align: center;
  margin-top: 11px;
  line-height: 0.8;
  letter-spacing: 0.1em;
  padding-bottom: 34px;
}

/* construction-detail */
.construction-detail_top_kv-img-wrap {
  height: 100vh;
  background: url("../img/works/works_1.jpg") top center / cover;
}

.construction-detail_container {
  margin: 33px 26px 44px 26px;
}

.construction-detail-tit {
  font-size: 16px;
  font-family: "GFS Didot", serif;
}

.construction-detail-sub-tit {
  margin-top: 10px;
  font-size: 12px;
}

.construction-detail-table {
  margin-top: 36px;
  padding-left: 18.6px;
  font-size: 8px;
  width: 100%;
  border-collapse: collapse;
}

.construction-detail-table-row1 {
  padding-top: 8.2px;
  padding-bottom: 8.4px;
  /* width: 82px; */
  width: 30%;
  text-align: center;
  /* vertical-align: middle; */
}

.construction-detail-table-tr {
  border-top: 1px solid #707070;
}

.construction-detail-consept-tit {
  margin-top: 36.7px;
  font-size: 20px;
}

.construction-detail-consept-txt {
  margin-top: 12px;
  font-size: 7px;
}

.construction-detail-point-tit {
  margin-top: 19px;
  font-size: 20px;
}

.construction-detail-point-txt {
  margin-top: 12px;
  font-size: 7px;
}

.construction-detail_img_wrap:not(:first-child) {
  margin-top: 6px;
}

.construction-detail_img-detail-container {
  display: none;
}

@media screen and (min-width: 1080px) {
  .construction-detail {
    display: flex;
    flex-flow: column-reverse;
  }

  .construction-detail_img-container {
    display: flex;
    justify-content: space-around;
    margin: 0px 361px;
  }

  .construction-detail_img_wrap:not(:first-child) {
    margin-top: 186px;
  }
  .construction-detail_img_wrap {
    margin-top: 186px;
  }

  .construction-detail_img_wrap {
    width: 16%;
  }

  .construction-detail-tit {
    margin-top: 64px;
    font-size: 40px;
    font-family: "GFS Didot", serif;
    text-align: center;
  }

  .construction-detail-sub-tit {
    margin-top: 5px;
    font-size: 24px;
    text-align: center;
  }

  .construction-detail_container_wrapper_sp {
    display: flex;
    margin-top: 83px;
  }

  .construction-detail_container_sp {
    /* margin: 0px 960px 44px 361px; */
    display: flex;
    flex-flow: column;
    width: 29%;
    margin: 0% 4% 0% 19%;
    /* flex-wrap: wrap; --折り返しの指定-- */
  }

  .construction-detail_flex-item-1 {
    order: 4;
  }
  .construction-detail_flex-item-2 {
    order: 2;
  }
  .construction-detail_flex-item-3 {
    order: 3;
  }

  .construction-detail-consept-tit {
    margin-top: 0px;
    font-size: 20px;
  }

  .construction-detail-consept-txt {
    margin-top: 24px;
    font-size: 7px;
  }

  .construction-detail-point-tit {
    margin-top: 129px;
    font-size: 20px;
  }

  .construction-detail-point-txt {
    margin-top: 24px;
    font-size: 7px;
  }

  .construction-detail-table {
    margin-top: 123px;
    padding-left: 18.6px;
    font-size: 8px;
    width: 100%;
    border-collapse: collapse;
  }

  .construction-detail_img-detail-container {
    display: block;
  }
}


/* -----------------------------------------concept-az- --------------------------- */
.m_concept_main_kv-inner {
  position: relative;
}

.m_concept_main_kv-box {
  height: 100vh;
  background: url(../img/concept/concept_1.jpg);
  background-position: 30% 75%;
  background-size: cover;
}

@media screen and (min-width: 1080px) {
  .m_concept_main_kv-box {
    background-position: 50% 50%;
    height: 1075px;
  }
}

.m_concept_main_kv_copy {
  font-size: 38px;
  line-height: 1.26em;
  color: var(--white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m_concept_post {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/concept/concept_2.jpg);
  height: 100vh;
  background-position: 42% 35%;
  background-size: cover;
  padding-top: 200px;
}

.m_concept_post_2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/concept/concept_3.jpg);
}

@media screen and (min-width: 1080px) {
  .m_concept_post {
    height: 1075px;
    position: relative;
    padding-top: 0;
  }
}

.m_concept_inner {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.m_concept_inner > * {
  display: inline-block;
  text-align: left;
}

@media screen and (min-width: 1080px) {
  .m_concept_post_box {
    width: 50%;
    background: rgba(0, 0, 0, 0.65);
    padding: 78px 0 78px 140px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.m_concept_post_title {
  font-size: 19px;
  color: var(--white-color);
  line-height: 1.36;
}

@media screen and (min-width: 768px) {
  .m_concept_post_title {
    font-size: 35px;
  }
}

@media screen and (min-width: 1080px) {
  .m_concept_post_title {
    font-size: 50px;
    line-height: 1.38;
  }
}

@media screen and (min-width: 1080px) {
  .m_concept_post_title_2 {
    float: inline-end;
    font-size: 40px;
  }
}

.m_concept_post_text {
  margin-top: 38px;
  font-size: 12px;
  color: var(--white-color);
  line-height: 1.91;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .m_concept_post_text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1080px) {
  .m_concept_post_text {
    font-size: 18px;
    line-height: 2.09;
  }
}

@media screen and (min-width: 1080px) {
  .m_concept_post_text_br {
    display: none;
  }
}

.m_concept_post_2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/concept/concept_3.jpg);
  height: 100vh;
  width: auto;
  background-position: 70% 35%;
  object-fit: cover;
  background-size: cover;
}

@media screen and (min-width: 1080px) {
  .m_concept_post_2 {
    height: 1075px;
  }
}

@media screen and (min-width: 1080px) {
  .m_concept_post_box_2 {
    margin-right: 500px;
    margin-left: 0%;
  }
}




/* ----------------------------------------works-az------------------------------ */
@media screen and (min-width: 1080px) {
  .m_works_main_kv-inner {
    background: url(../img/works/works_kv.jpg) top / cover;
    height: 100vh;
    position: relative;
  }
}

.m_works_main_kv-inner_text {
  display: none;
}

@media screen and (min-width: 1080px) {
  .m_works_main_kv-inner_text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    font-size: 62px;
    z-index: 100;
  }
}

.m_works_main_kv-box {
  margin-top: 38px;
}

@media screen and (min-width: 768px) {
  .m_works_main_kv-box {
    margin-top: 133px;
  }
}

.m_works_main_kv_copy {
  margin-top: 38px;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
}

@media screen and (min-width: 768px) {
  .m_works_main_kv_copy {
    font-size: 40px;
    text-align: center;
    margin-top: 143px;
  }
}
.m_works_main_kv_copy_sub {
  text-align: center;
  position: relative;
  margin-top: 7px;
  padding-bottom: 17px;
  margin-bottom: 19px;
}

@media screen and (min-width: 768px) {
  .m_works_main_kv_copy_sub {
    font-size: 20px;
  }
}

.m_works_main_kv_copy_sub::after {
  content: "";
  display: block;
  width: 322px;
  height: 1px;
  background-color: var(--black-color2);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 1079px) {
  .m_works_main_kv_copy_sub::after {
    display: none;
  }
}

.m_works_post_company_name {
  font-size: 15px;
}

.m_works_post_client_name {
  font-size: 18px;
}

@media screen and (min-width: 1080px) {
  .m_works_post_wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 96px;
  }
}

.m_works_post {
  background-image: url(../img/works/works_1.jpg);
  width: 100vw;
  height: calc(80vw * 0.8);
  background-size: cover;
  position: relative;
}

@media screen and (min-width: 1080px) {
  .m_works_post {
    width: 50%;
    height: 466px;
    border: solid 2px var(--white-color);
  }
}

@media screen and (min-width: 1080px) {
  .m_works_post::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 41px solid var(--white-color);
    border-right: 41px solid transparent;
    z-index: 50;
  }
}

.m_works_post:not(:first-child) {
  margin-top: 8px;
}

@media screen and (min-width: 1080px) {
  .m_works_post:not(:first-child) {
    margin-top: 0;
  }
}

.m_works_post_text {
  position: absolute;
  margin-left: 21px;
  color: var(--white-color);
  bottom: 16px;
}

@media screen and (min-width: 1080px) {
  .m_works_post_text {
    margin-top: 330px;
  }
}
.m_works_post_company_name {
  line-height: 1.2;
  letter-spacing: 0;
}

@media screen and (min-width: 1080px) {
  .m_works_post_company_name {
    font-size: 40px;
  }
}

.m_works_post_client_name {
  line-height: 2.16;
  font-size: 18px;
  letter-spacing: 0.02em;
}


/* ----------------------------------pagenation---az--------------------- */



@media screen and (max-width: 768px) {
  .pagenation_wrapper_contain {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .pagenation_contain {
    position: relative;
    width: 416px;
    height: 100px;
    margin: 0 auto;
  }
}

.Pagination {
  position: absolute;
  display: flex;
  align-items: center;
  display: flex;
}
.Pagination-Item-Link {
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  background: #fff;
  font-size: 24px;
  color: var(--black-color3);
  font-weight: bold;
  transition: all 0.15s linear;
}
.Pagination-Item-Link.isActive {
  background: var(--black-color3);
  color: #fff;
  pointer-events: none;
}

.Pagination-Item-Link_border {
  border: solid 1px var(--black-color3);
  border-radius: 50%;
}

.pagination_numbers__pre::after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  top: 50%;
  left: 32%;
  transform: rotate(225deg);
}
.pagination_numbers__next {
  position: relative;
}

.pagination_numbers__next::before {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translateY(-50%) rotate(45deg);
}

.m_works_guidance {
  display: none;
}

@media screen and (min-width: 768px) {
  .m_works_guidance {
    background-color: #f4f2f1;
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .m_works_guidance_inner {
    width: 655px;
    display: flex;
    position: relative;
    margin-top: 300px;
    flex-wrap: wrap;
    padding: 99px 0;
    gap: 19px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1080px) {
  .m_works_guidance_inner {
    width: 1201px;
  }
}

.m_works_guidance_contain {
  width: calc((100% - 19px) / 2);
  text-align: center;
  position: relative;
}

@media screen and (min-width: 1080px) {
  .m_works_guidance_contain::before {
    content: "";
    position: absolute;
    border-bottom: 36px solid var(--black-color4);
    border-left: 41px solid transparent;
    z-index: 50;
    bottom: 0;
    right: 0;
  }
}

.m_works_guidance_wraper {
  background-color: var(--white-color);
  padding: 50px 31px;
}

.m_works_guidance_wraper_title {
  font-size: 39px;
  letter-spacing: 0.02em;
  color: var(--black-color2);
  position: relative;
  padding-bottom: 21.5px;
}
.m_works_guidance_wraper_text {
  font-size: 18px;
  color: var(--black-color2);
  line-height: 1.72;
  margin-top: 21.5px;
}

.m_works_guidance_wraper_title::after {
  content: "";
  display: block;
  width: 514px;
  height: 1px;
  background-color: var(--gray-color3);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .m_works_guidance_wraper_title::after {
    content: "";
    display: block;
    width: 514px;
    height: 1px;
    background-color: var(--gray-color3);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* ----------------------------------------event-az-------------------------------------- */
.m_event_main_kv {
  display: none;
}
@media screen and (min-width: 768px) {
  .m_event_main_kv {
    display: flex;
    height: 100vh;
    background: url("../img/event/event_kv.jpg") top center / cover;
    position: relative;
  }

  .m_event_main_kv_copy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    font-size: 62px;
  }
}

.m_event_wraper {
  display: block;
  margin-top: 72px;
  margin-left: 39px;
  height: 75px;
  width: 148px;
}
@media screen and (min-width: 768px) {
  .m_event_wraper {
    margin: 0 auto;
    margin-top: 139px;
    margin-bottom: 50px;
  }
}

.m_event_wraper_title {
  color: var(--black-color2);
  font-size: 32px;
}

.m_event_wraper_subtitle {
  margin-top: 14px;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.m_event_post_contain {
  margin: 0 auto;
  display: block;
  display: flex;
  position: relative;
  height: calc(100vh * 0.6);
  width: 351px;
  border: 1px solid var(--gray-color4);
  margin-top: 24px;
}
@media screen and (min-width: 1080px) {
  .m_event_post_contain {
    width: 1212px;
    height: 418px;
  }
  .m_event_post_contain:not(:first-child) {
    margin-top: 44px;
  }
}
.m_event_post_wraper {
  margin-top: 17px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@media screen and (min-width: 1080px) {
  .m_event_post_wraper {
    display: flex;
  }
}
.m_event_img {
  margin: 0 auto;
  width: 313px;
  height: 185px;
  background: url("../img/event/event_1.jpg") top center / cover;
}

@media screen and (min-width: 1080px) {
  .m_event_img {
    width: 599px;
    height: 352px;
  }
}
.m_event_post_article {
  margin-left: 19px;
}

@media screen and (min-width: 1080px) {
  .m_event_post_article {
    margin-left: 59px;
  }
}
.m_event_post_article_nextto {
  display: flex;
  margin-top: 11px;
}
.m_event_post_article_mark {
  border: 1px solid var(--black-color5);
  width: 80px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 11px;
  letter-spacing: 0.02em;
  margin-right: 18px;
}

@media screen and (min-width: 1080px) {
  .m_event_post_article_mark {
    font-size: 21px;
  }
}

.m_event_post_article_place {
  font-size: 8px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1080px) {
  .m_event_post_article_place {
    font-size: 15px;
    letter-spacing: 0.02em;
    margin-left: 27px;
  }
}

.m_event_post_article_title {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.02em;
  margin-top: 9px;
}
@media screen and (min-width: 1080px) {
  .m_event_post_article_title {
    font-size: 22px;
    line-height: 1.68;
    margin-top: 17px;
  }
}

.m_event_post_article_date {
  font-size: 6px;
  letter-spacing: 0.02em;
  margin-top: 9px;
}

@media screen and (min-width: 1080px) {
  .m_event_post_article_date {
    font-size: 15px;
    line-height: 1.66;
    margin-top: 10px;
  }
}
.m_event_post_article_text {
  font-size: 9px;
  line-height: 2.11;
  margin-top: 15px;
}

@media screen and (min-width: 1080px) {
  .m_event_post_article_text {
    font-size: 18px;
    letter-spacing: 0.02em;
    margin-top: 17px;
  }
}





/* ------------------------------------------event sub-a----------------------------- */
@media screen and (min-width: 1080px) {
  .m_event_contain {
    margin-bottom: 143px;
  }
}
.m_event_wraper {
  display: block;
  margin-top: 72px;
  margin-left: 39px;
  height: 75px;
  width: 148px;
}
@media screen and (min-width: 1080px) {
  .m_event_wraper {
    margin: 0 auto;
    margin-top: 139px;
    margin-bottom: 50px;
  }
  .m_event_sub_contain {
    width: 1198px;
    height: 1000px;
    margin: 0 auto;
  }
}

.m_event_sub_wraper {
  margin-left: 39px;
}
@media screen and (min-width: 768px) {
  .m_event_sub_wraper {
    margin-top: 107px;
  }
}

.m_event_wraper_title {
  color: var(--black-color2);
  font-size: 32px;
}

@media screen and (min-width: 1080px) {
  .m_event_sub_wraper_title {
    display: none;
  }
}

.m_event_wraper_subtitle {
  margin-top: 14px;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.m_event_sub_wraper_subtitle {
  width: 300px;
  margin-top: 13px;
}

@media screen and (min-width: 1080px) {
  .m_event_sub_wraper_subtitle {
    font-size: 26px;
    width: 600px;
    margin-left: 0;
    margin-bottom: 41px;
    color: var(--gray-color5);
  }
  .m_event_sub_wraper_subtitle_accent {
    color: var(--black-color2);
  }
}
.m_event_sub_post_contain {
  margin: 0 auto;
  display: block;
  display: flex;
  position: relative;
  width: 351px;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .m_event_sub_post_wraper {
    text-align: center;
  }
  .m_event_sub_post_wraper > * {
    display: inline-block;
    text-align: left;
  }
}

@media screen and (min-width: 1080px) {
  .m_event_sub_post_contain {
    margin: 0;
  }
}
@media screen and (min-width: 1080px) {
  .m_event_post_contain {
    width: 1212px;
    height: 418px;
  }
  .m_event_post_contain:not(:first-child) {
    margin-top: 44px;
  }
}

.m_event_post_wraper {
  margin-top: 17px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.m_event_sub_img {
  width: calc(100% - 40px);
  height: 200px;
  margin: 0 auto;
  border: 2px solid var(--gray-color2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

@media screen and (min-width: 1080px) {
  .m_event_sub_img {
    width: 1198px;
    height: 550px;
    font-size: 26px;
  }
}

@media screen and (min-width: 1080px) {
  .m_event_img {
    width: 599px;
    height: 352px;
    background-position: 30%;
  }
}
.m_event_post_article {
  margin-left: 19px;
}

.m_event_sub_post_article {
  margin-top: 39px;
}

.m_event_post_article_nextto {
  display: flex;
  margin-top: 11px;
}

@media screen and (min-width: 1080px) {
  .m_event_post_article_mark {
    font-size: 21px;
  }
}
.m_event_sub_post_article_mark {
  border: 1px solid var(--black-color5);
  width: 113px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  letter-spacing: 0.02em;
  margin-right: 29px;
}

@media screen and (min-width: 1080px) {
  .m_event_sub_post_article_mark {
    font-size: 44px;
    width: 221px;
    height: 78px;
    line-height: 78px;
  }
}
.m_event_post_article_place {
  font-size: 8px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1080px) {
  .m_event_post_article_place {
    font-size: 15px;
    letter-spacing: 0.02em;
    margin-left: 27px;
  }
}

@media screen and (min-width: 1080px) {
  .m_event_sub_post_article_place {
    font-size: 31px;
  }
}

@media screen and (min-width: 1080px) {
  .m_event_sub_post_article_title_big {
    display: flex;
    align-items: center;
  }
}
.m_event_post_article_title {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.02em;
  margin-top: 9px;
}
@media screen and (min-width: 1080px) {
  .m_event_post_article_title {
    font-size: 22px;
    line-height: 1.68;
    margin-top: 17px;
  }
}

@media screen and (min-width: 1080px) {
  .m_event_sub_post_article_title {
    font-size: 46px;
  }
}

.m_event_post_article_date {
  font-size: 6px;
  letter-spacing: 0.02em;
  margin-top: 9px;
}

@media screen and (min-width: 1080px) {
  .m_event_post_article_date {
    font-size: 15px;
    line-height: 1.66;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1080px) {
  .m_event_sub_post_article_date {
    font-size: 26px;
    text-align: center;
    margin-left: 62px;
  }
}

.m_event_post_article_text {
  font-size: 9px;
  line-height: 2.11;
  margin-top: 15px;
}

@media screen and (min-width: 1080px) {
  .m_event_post_article_text {
    font-size: 18px;
    letter-spacing: 0.02em;
    margin-top: 17px;
  }
}

@media screen and (min-width: 1080px) {
  .m_event_sub_post_article_text {
    font-size: 25px;
    margin-bottom: 25px;
  }
}
/* ---------- company ---------- */
.company_kv-img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 35% center;
  position: relative;
}

.company_ttl_large {
  color: var(--white-color);
  font-size: 40px;
  line-height: 1.35;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translateX(-50%);
}
.company_ttl_small {
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.94;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}

.company_table_ttl {
  text-align: center;
  padding-top: 136px;
}

.company_table_ttl-large {
  font-size: 40px;
  line-height: 1.32;
}

.company_table_ttl-small {
  font-size: 20px;
  line-height: 1.93;
  padding-bottom: 76px;
}

.company_table_container {
  width: 89%;
  margin: 0 auto;
  padding: 14px 0 20px;
}

@media screen and (min-width: 768px) {
  .company_table_container {
    width: 41%;
  }
}

.company_table_tr {
  border-top: 1px solid #707070;
}

@media screen and (min-width: 768px) {
  .company_table_tr {
    border-top: none;
  }
}

.company_table_tr:first-child {
  border-top: none;
}

.company_table_th {
  font-size: 14px;
  line-height: 1.3;
  display: block;
  padding-bottom: 11px;
  padding-top: 23px;
}

.company_table_th:not(:first-child) {
  border-top: 1px solid #707070;
}

.company_table_td {
  font-size: 13px;
  line-height: 1.23;
  display: block;
  padding-bottom: 23px;
}



@media screen and (min-width: 768px) {
  .company_table_th {
    display: table-cell;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 18px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    letter-spacing: 0;
  }

  .company_table_th:not(:first-child) {
    border-top: 1px solid #707070;
  }
  
  .company_table_td {
    display: table-cell;
    padding-bottom: 0;
    padding-left: 35px;
    font-size: 15px;
    letter-spacing: 0;
  }
  .company_table_td:not(:first-child) {
    border-top: 1px solid #CBCBCB;
  }

  .company_table_tr:first-child .company_table_td:not(:first-child) {
    border-top: none;
  }
}
/* company_map */
@media screen and (min-width: 768px) {
  .company_map_container {
    padding-bottom: 137px;
  }
}

.company_map_ttl {
  padding-top: 77px;
}

.company_map_wrap {
  width: 85%;
  margin: 22px auto 0;
}

.company_map_wrap:not(:first-child) {
  margin-top: 47px;
}

@media screen and (min-width: 768px) {
  .company_map_wrap:not(:first-child) {
    margin-top: 0;
  }
}

.company_map_inner {
  display: flex;
}

@media screen and (min-width: 768px) {
  .company_map_wrapper {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .l_section_map {
    position: relative;
  }

  .company_map_upper {
    position: absolute;
    top: 0;
    position: relative;
  }

  
  .company_map_upper_left {
    position: absolute;
    left: 0;
  }
  
  .company_map_upper_right {
    position: absolute;
    right: 0;
    background-color: #F4F2F1;
  }

  .company_map_lower {
    position: absolute;
    bottom: 0;
    position: relative;
  }

  .company_map_lower_left {
    position: absolute;
    left: 0;

    background-color: #F4F2F1;
  }

  .company_map_lower_right {
    position: absolute;
    right: 0;

  }
}


@media screen and (min-width: 1080px) {
  .company_map_wrapper:not(:first-child) {
    margin-top: 66px;
  }

  
  .company_map_wrap {
    background-color: #F4F2F1;
    width: 56%;
    margin: 0;
  }

  .company_map_wrap-inner {
    margin-left: 25%;
    margin-top: 17%;
  }
}

.company_map_logo-inner {
  display: flex;
}

.company_map-img {
  width: 47%;
}

@media screen and (min-width: 768px) {
  .company_map-img {
    width: 24%;
  }
}

.company_map_store-name {
  font-size: 24px;
  line-height: 1.12;
  display: flex;
  align-items: center;
  margin-left: 12px;
}

@media screen and (min-width: 768px) {
  .company_map_store-name {
    font-size: 34px;
  }
}

.company_map-post, .company_map-address {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .company_map-post, .company_map-address {
    font-size: 16px;
  }
}

.company_map-post {
  margin-top: 19px;
}

.company_map-address {
  margin-bottom: 19px;
}

.company_map_btn_wrap {
  border: 1px solid #707070;
  text-align: center;
  padding: 19px 0;
  background-color: var(--white-color);
  position: relative;
}

@media screen and (min-width: 768px) {
  .company_map_btn_wrap {
    width: 43%;
  }
}

.company_map-btn {
  font-size: 18px;
  line-height: 1.9;
}

@media screen and (min-width: 768px) {
  .company_map-btn:before {
    content: "";
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid #333;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

.company_map-btn:after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  position: absolute;
  top: 50%;
  right: 34px;
  transform: translateY(-50%) rotate(45deg);
}

/* ---------- flow ---------- */
.flow_container {
  margin-top: 29px;
  margin-bottom: 43px;
}

@media screen and (min-width: 1080px) {
  .flow_container {
    margin-top: 0;
  }

  .flow_kv {
    position: relative;
  }

  .flow_ttl_large {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }


}

.flow_ttl {
  width: 89%;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .flow_ttl {
    z-index: var(--z-index-header);
  }
}

.flow_ttl_large {
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .flow_ttl_large {
    font-size: 62px;
    color: #fff;
  }
}

.flow_ttl_small {
  font-size: 16px;
}

.flow_kv-box {
  width: 89%;
  margin: 34px auto 0;
}

@media screen and (min-width: 1080px) {
  .flow_kv-box {
    width: 100%;
    margin-top: 0;
  }
  .flow_kv-img_pc {
    width: 100%;
    height: 100vh;
  }

  .flow_request_inner {
    text-align: center;
    padding-top: 263px;
  }
  
  .flow_request_ttl-large {
    font-size: 40px;
    line-height: 1.32;
  }
  
  .flow_request_ttl-small {
    font-size: 20px;
    line-height: 1.93;
    padding-bottom: 76px;
  }

  .flow_request_img-box {
    width: 62%;
    margin: 0 auto;
  }

  .flow_request_arrow-wrap {
    text-align: center;
    margin-top: 95px;
  }

  .flow_request_arrow {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid black;
    margin-top: 50px;
  }

  .flow_section {
    width: 63%;
    margin: 0 auto;
  }

  .flow_contents_free, .flow_contents_paid {
    display: flex;
  }

  .flow_contents_free {
    align-items: end;
  }

  @media screen and (min-width: 768px) {
    .flow_contents_paid {
      margin-top: 63px;
    }
  }

  .flow_contents_free-inner, .flow_contents_paid-inner {
    margin-left: 35px;
  }

  .flow_contents_free-txt {
    width: 46px;
    background-color: #E2E2E2;
    font-size: 26px;
    font-weight: bold;
    padding: 1343px 10px 23px 10px;
  }
  .flow_contents_paid-txt {
    width: 46px;
    color: var(--white-color);
    background-color: #333;
    font-size: 26px;
    font-weight: bold;
    padding: 19px 10px 89% 10px;
  }

  .flow_content-inner {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .flow_contents_paid {
    border-top: 1px solid #B9B9B9;
  }
}

.flow_number {
  font-size: 41px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .flow_number {
    font-size: 57px;
    padding-left: 30px;
  }
}

.flow_contents {
  width: 89%;
  margin: 0 auto;
}

.flow_content:not(:first-child) {
  border-top: 1px solid #B9B9B9;
}

.flow_content {
  margin-bottom: 18.5px;
  margin-top: 13.5px;
}

.flow_content_ttl {
  font-size: 20px;
  line-height: 0.45;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .flow_content_ttl {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 33px;
  }
}

.flow_content_txt {
  font-size: 12px;
  line-height: 1.75;
  margin-top: 14px;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
  .flow_content_txt {
    font-size: 18px;
    padding-left: 30px;
    line-height: 1.94;
  }
}

@media screen and (min-width: 768px) {
  .flow-btn-wrap {
    position: relative;
  }
  .flow-btn__pc {
    position: absolute;
    left: 50%;
    top: 162px;
    transform: translate(-50%, 50%);
  }
  
  .flow-btn__link__pc {
    font-size: 20px;
    color: #000;
    display: flex;
    position: relative;
  }
  .flow-btn__link__pc:before {
    content: "";
    width: 89px;
    border-top: 1px solid var(--black-color2);
    top: 62px;
    left: 110px;
    position: absolute;
    padding-bottom: 84px;
  }
  .flow-btn__link__pc::after {
    content: "";
    width: 10px;
    height: 8px;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent var(--black-color2);
    position: absolute;
    top: 57px;
    left: 192px;
    transform: translateX(-50%) rotate(135deg);
  }
}






.m_hamburger {
  width: 30px;
  height: 22px;
  position: relative;
  z-index: var(--z-index-menu);
}

@media screen and (min-width: 768px) {
  .m_hamburger {
    display: none;
  }
}

.m_hamburger-bar {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  background: var(--black-color);
  left: 50%;
  transition: 0.3s;
}

.m_hamburger-bar:first-child {
  top: 0;
  transform: translate(-50%, 0);
}

.m_hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.m_hamburger-bar:last-child {
  top: 100%;
  transform: translate(-50%, -100%);
}

.js_navigation {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

@media screen and (min-width: 768px) {
  .js_navigation {
    pointer-events: auto;
    opacity: 1;
  }
}

.js_navigation.is-active {
  opacity: 1;
  pointer-events: inherit;
}

.js_hamburger.is-active .m_hamburger-bar:first-child {
  top: 50%;
  transform: translate(-50%, 0) rotate(45deg);
}

.js_hamburger.is-active .m_hamburger-bar:nth-child(2) {
  opacity: 0;
}

.js_hamburger.is-active .m_hamburger-bar:last-child {
  top: 50%;
  transform: translate(-50%, 0) rotate(-45deg);
}


/* -----------------------------------------------footer-----az------------------------ */

.l_footer {
  text-align: center;
}

.l_footer_logo {
  font-size: 20px;
  font-weight: bold;
}

.l_footer_item {
  font-size: 14px;
}
.l_footer_link {
  font-size: 23px;
}

.l_footer-comlogo {
  width: 15.7%;
}

.l_footer_item:not(:first-child) {
  margin-top: 24px;
}

.l_footer-copyright {
  font-size: 12px;
  color: #959595;
  margin-top: 48px;
}
.l_footer-box {
  background: var(--black-color3);
  padding-bottom: 53px;
}
.l_footer-box-inner {
  padding-top: 148px;
  padding-right: 5%;
  padding-bottom: 141px;
  padding-left: 5%;
}
.l_footer-nav {
  display: flex;
  justify-content: space-between;
}
.l_footer-list {
  text-align: center;
  line-height: 1.714;
  font-size: 14px;
}
.l_footer-list > * {
  display: inline-block;
  text-align: left;
}

.l_footer-list_title {
  font-size: 32px;
  color: var(--footer-btn-color2);
  margin-bottom: 39px;
}
.l_footer-list_title-last {
  margin-bottom: 26px;
}

.l_footer-tittt {
  margin-bottom: 60px;
}

.l_footer-tit_addr {
  font-size: 16px;
  line-height: 1.62;
}

.l_footer-tit_con {
  font-size: 18px;
}

.l_footer-item {
  color: #fff;
}

.l_footer-list {
  width: calc(100% * 0.26);
}

.l_footer-list:not(:first-child) {
  border-left: 1px solid var(--footer-color);
  position: relative;
  width: 100%;
}

.l_footer-img-wrap {
  display: flex;
}
.l_footer-img-wrap {
  width: 345px;
  height: 75px;
  margin: 19px auto 0;
}
.l_footer-img-logo {
  width: 100%;
  height: 100%;
}
.l_footer-copy {
  color: var(--white-color);
  margin-top: 11px;
  font-size: 12px;
  line-height: 1.22;
  margin-bottom: 53px;
}
.l_footer-img-wrap-icon {
  display: flex;
  margin-top: 20px;
}

.l_footer-img-box-1 {
  margin-right: 17px;
  width: 58px;
  height: 58px;
}

.l_footer-img-box {
  margin-right: 17px;
  width: 58px;
  height: 58px;
}

.l_footer-item_menu_box_big {
  display: flex;
  justify-content: space-between;
  font-size: 23px;
  line-height: 1.73;
  letter-spacing: 0.05em;
}

.l_footer-tit_contact_tel_box {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.l_footer-tit_contact_tel_img {
  width: 28.71px;
  height: 28.71px;
  margin-right: 16.3px;
}

.l_footer-tit_contact_tel_number {
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.l_footer-item_contact_inf {
  font-size: 14px;
  margin-top: 7px;
  letter-spacing: 0;
}

.l_footer-item_contact_jump_contact {
  background-color: var(--white-color);
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 12px 45px 12px 35px;
  margin-top: 16px;
}

.l_footer-link_contact {
  font-size: 23px;
  color: var(--black-color2);
  line-height: 1.3;
  letter-spacing: 0;
}

.l_footer-link_contact::after {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  border-top: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid var(--black-color3);
  z-index: 50;
  right: 10px;
  bottom: 15px;
}

.l_footer-item_2 {
  margin-left: 41px;
}
